/abb_example_file
/hager_example_file
/scraper_package/scraper/__pycache__
/scraper_package/scraper/brands/__pycache__
/scraper/__pycache__
/scraper/brands/__pycache__
/scraper.egg-info
scraped_outputs.xlsx
*.csv
*.json
